<% include ./partials/header %>


<div class = "ui main text container login">
    <a href = "/auth/twitter"><button class = "massive ui teal inverted button">Login using Twiter</button></a>
    
</div>











<% include ./partials/footer %>